/*====================================================
OVERALL CSS 
=====================================================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
    --white: #F7FFF7;
    --body-font: 'Poppins', sans-serif;
    --title-font-size: 4rem;
    --big-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: 0.938rem;
    --gutter: 20px;
}

@media screen and (min-width: 768px){
    :root{
        --title-font-size: 5.5rem;
        --big-font-size: 3.5rem;
        --h2-font-size: 2rem;
        --normal-font-size: 1rem;
    }
}

* {
    box-sizing: border-box;
    transition: all ease-in-out 200ms;
}

body,html {
    text-align: center;
    height: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    margin: 0;
    padding: 0;
    max-width: 100vw;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: var(--yellow);
    color: var(--white);
    font-family: var(--body-font);
}

img {
    max-width: 100%;
    height: auto;
}

a{
	text-decoration: none;
}

ul{
	list-style: none;
}

.container-main {
    height: 100vh;
    margin: auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.grid-wrapper {
    margin: 0 auto;
    max-width: 1520px;
}

/* CANVAS STUFF */
#simulationCanvas {
    width: 80vw;
    height: 80vh;
    background: var(--oxfordBlue);
    position: absolute;
    top: 50%;
    margin-top: -40vh;
    color: var(--white);
}

/* Other stuff */
#simulation-settings {
    position: absolute;
    font-size: var(--h2-font-size);
    top: 20vh;
    margin: auto;
}

button {
    border: 2px solid var(--pink);
    font-size: var(--h2-font-size);
    border-radius: 20px;
    background-color: var(--pink);
    color: var(--oxfordBlue);
}

button:hover {
    cursor: pointer;
    background-color: var(--lightBlue);
    border: 2px solid var(--lightBlue);
}

input[type=number] {
    font-size: var(--h2-font-size);
}

#btn-pause {
    position: absolute;
    top: 5vh;
    right: 5vw;
}